/*
font-family: 'Cormorant Upright', serif;
font-family: 'Uncial Antiqua', cursive;
font-family: 'Amarante', cursive;
font-family: 'Fondamento', cursive;
font-family: 'Charm', cursive;
font-family: 'Eagle Lake', cursive;

*/

/*


BUNKER            #25282B      RGB: 37,40,43
BALTIC SEA        #363B3F      RGB: 54,59,63

PERSIAN_INDIGO    #360568      RGB: 54,5,104
KINGFISHER DAISY  #5B2A86      RGB: 91,42,134
SHIP COVE         #7785AC      RGB: 119,133,172
MORNING GLORY     #9AC6C5      RGB: 154,198,197
FRINGY FLOWER     #A5E6BA      RGB: 165,230,186



BLACK_RUSSIAN     #1E1F26      RGB: 30,31,38
MADISON           #283655      RGB: 40,54,85
KASHMIR_BLUE      #4D648D      RGB: 77,100,141
HAWKES_BLUE       #D0E1F9      RGB: 208,225,249

#488A99

MELANZANE         #211F20      RGB: 33,31,32
MEDIUM ORCHARD    #CC41FF      RGB: 204,65,255

#78F2AC   120,242,172
#AC78F2   172,120,242
#D3B7D8
#A13E97
#632A7E
#280E3B

#635991
#8A7BB0
#A398C3


  #4B2E82


#291B2C

SAPPHIRE #001045  0,16,69
EBONY #2B3038 43,48,56
SHERPA_BLUE #003245  0,50,69)
#B39D5A

#00172D
#00264D
#20222B

#0d162b 13,22,43
#111C37 17,28,55
#1A2C56 26,44,86
#1B212C RGB: 27,33,44
#1E1F26 RGB: 30,31,38
#22252C RGB: 34,37,44
#333641
#263147 RGB: 38,49,71
#283655 RGB: 40,54,85
#2C365E RGB: 44,54,94
#22252C RGB: 34, 37, 44



#542c5e
#E3E8FE

#F9C54B
#A891FB
#0E8BD3
*/


.menu-container {
  min-height: 100vh;
  display: grid;
  justify-content: center;
}

.menu-form {
  display: grid;
  grid-template-rows: 200px 250px 200px;
  grid-row-gap: 20px;
}

.selected-container {
  width: 100%;
  background-image: url('./tarot_cloth.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-opts {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-column-gap: 50px;
  justify-content: center;
}

input {
  height: 200px;
  width: 150px;
}

.got {
  transform: translate(0, 20px);
}

input[active='trueGot'] {
  transform: translate(200px, 250px);
}

.disney {
  transform: translate(0, -30px);
}

input[active='trueDisney'] {
  transform: translate(0, 250px);
}

.hp {
  transform: translate(0, -30px);
}
input[active='trueHp'] {
  transform: translate(-200px, 250px);
}

.lordRings {
  transform: translate(0, 20px);
}

input[active='trueLordRings'] {
  transform: translate(-400px, 250px);
}







.easy {
  transform: translate(0, -20px);
}

input[active='trueEasy'] {
  transform: translate(400px, -240px);
}

.medium {
  transform: translate(0, 30px);
}

input[active='trueMedium'] {
  transform: translate(200px, -240px);
}

.hard {
  transform: translate(0, 30px);
}

input[active='trueHard'] {
  transform: translate(0, -240px);
}

.expert {
  transform: translate(0, -20px);
}
input[active='trueExpert'] {
  transform: translate(-200px, -240px);
}



.level-opts-container input[active='true'] {
  transform: translate(0, -100%);
}

.play-btn {
  position: absolute;
  top: 400px;
  right: 20px;
  background-image: url('./crystal_ball.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);

  height: 200px;
  width: 200px;
  border: none;
  padding: 1%;
  font-size: 28px;
  font-family: 'Uncial Antiqua', cursive;
  color: #FADA5E;
}

/*
font-family: 'Cormorant Upright', serif;
font-family: 'Uncial Antiqua', cursive;
font-family: 'Amarante', cursive;
font-family: 'Fondamento', cursive;
font-family: 'Charm', cursive;
font-family: 'Eagle Lake', cursive;

*/
